@font-face {
  font-family: typerighter;
  src: url(rm_typerighter_medium.ttf);
}
@font-face {
  font-family: typerighter;
  src: url(rm_typerighter_medium.ttf);
  font-weight: bold;
}
div {
  font-family: typerighter;
}
h4 {
  color: black;
}
.wrapper {
  left: 0;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.jumbotron {
  background-image: url(img/background-welcome.jpg);
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
 }
 .jumbotron .container {
  padding-top: 15rem;
 }
 div .section2 div .container{
  background-color: black;
 }