@font-face {
  font-family: typerighter;
  src: url(rm_typerighter_medium.ttf);
}
@font-face {
  font-family: typerighter;
  src: url(rm_typerighter_medium.ttf);
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
div h1 h2 h3 h4 h5 h6 p a {
  font-family: typerighter;
}
.wit{
  background-color: white;
}
/*.discord .row{
  visibility: hidden;
}*/
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.nav-link {
  font-weight: 500;
  font-size: x-large;
  color: rgb(102, 101, 101);
}
.wrapper {
  left: 0;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.jumbotron {
  background-image: url(img/background-welcome.jpg);
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
 }
.jumbotron .container {
  padding-top: 12rem;
 }
.jumbotron-color {
   background-color: rgba(0, 0, 0, 0.103);
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }
.w-100 .display-2 {
   font-weight: 600;
 }
.lead-text {
  font-size: 1.50rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
 }
 .card {
   margin-top: 70px; 
   box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
 }
 .discord .container .discord-header {
   font-size: 3.1rem;
   font-weight: 500;

 }
 .discord .header {
   margin-top: 6rem;
   }
.card[data-background=image] {
  background-position: 50%;
  background-size: cover;
  text-align: center;
}
.card-footer .round {
  border-radius: 30px;
}
.downloads-header {
  font-size: 3.1rem;
  font-weight: 500;
}
.overons-header {
  font-size: 3.1rem;
  font-weight: 500;
}
.discord {
  background-color: #eee;
  padding-bottom: 50px;
}
.ground {
  background-color: rgb(206, 203, 203);
  padding-bottom: 100px;
}
.grijs {
  background-color: #eee;
  padding-bottom: 100px;
}
.footer {
  background-color: #262626;
  color: gray;
  text-align: left;
  line-height: 90px;
  text-align: center;
}
.footer a {
  color: gray;
}
.footer p {
  margin-top: 16px;
}
 